<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= tabTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header></header>
    <div id="loginCtr">
      <h1>Welcome To Slime Trader!</h1>
      <a href="/auth/google" id="login">Please Login</a>
    </div>
    <footer></footer>
  </body>
</html>
