<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= tabTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src='/javascripts/script.js'></script>
  </head>
  <body>
    <header>
      <nav>
        <h2 id="welcome">Welcome <%= name %>!</h2>
        <a href="/traders" id="dashboard">Dashboard</a>
        <a href="/traders/help" id="help">Help</a>
        <a href="/logout" id="logout">Log Out</a>
      </nav>
    </header>
    <form action="/traders" method="POST">
      Pick Your First Slime:
      <select id="Slct1" name="name">
      <option value="Petra">Petra</option>
      <option value="Ignis">Ignis</option>
      <option value="Unda">Unda</option>
      <option value="Ventus">Ventus</option>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form> 
    <div id="viewsCtr">
      <button id="inventoryBtn" onclick="changeDisplay('inventory')">Inventory</button>
      <button id="fuseBtn" onclick="changeDisplay('fuse')">Fuse</button>
      <button id="tradeBtn" onclick="changeDisplay('trade')">Trade</button>
      <div id="inventoryView">
        <div id="inventory1">
          <ul>
            <% inventory.forEach(function(s){ %>
            <li><%= s.name %></li>
            <% })%>
          </ul>
        </div>
        <div id="inventory2">
          <!--<img src="/images/petra.png" alt="petra slime">-->
        </div>
      </div>
      <div id="fuseView">
        <div id="fuse1">
          <ul>
            <% inventory.forEach(function(s){ %>
            <li><%= s.name %></li>
            <% })%>
          </ul>
        </div>
        <div id="fuse2">

        </div>
        <div id="fuse3">

        </div>
      </div>
      <div id="tradeView">
        <div id="trade1">

        </div>
        <div id="trade2">

        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
